*{
    line-height: 1.3em;
    margin: 0;
}
header{
    background-color: #0c0c0c;
    color: white;
}
nav{
    background-color: #968181;
    color: white;
    padding: 10px;
}

nav ul{
    display: flex;
    gap: 1em;
}
main{
    display: flex;
    gap: 1em;
    background-color: lightgray;
}
section{
    line-height: 1.5em;
}
li{
    line-height: 1.5em;
}
article{
    margin: 5px;
    flex: 2;
    background-color: white;
     border-radius: 10px;
}
aside{
    margin: 5px;
    background-color: white;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
}
main{
    flex: 1;
}
figcaption{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
footer{
    background-color: #322d2d;
    color: #ff0000;
    text-align: center;
}