*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header,footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.Container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
   
}

.card{
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 90px;
     border: 1px solid #f0f0f8;
     border-radius: 5%;
     height: 200px;
     width: 125px;
     justify-content: center;
     /* box-shadow: 0 4px 6px blue; */
     /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
      border: 2px solid transparent; 
    
}

button{
    background-color:blue;
    /* padding: 10px 70px; */
    width: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

h3{
    color: blue;
    margin-top: 10px;
    
}

P{
    margin-top:20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 255, 0.4);
  border-color: #007BFF;  /* Blue border */
}